<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Teleconsultoria - Editar Teleconsultor</title>
</head>
<body>
    <h1>Editar Teleconsultor</h1>
    <h3>{{ teleconsultor.nome }}</h3>

    <p>
        <a href="{% url 'gerenciar_teleconsultor_view' %}">Voltar para gerenciar teleconsultores</a>
    </p>

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <div>
        <form action="{% url 'editar_teleconsultor_view' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ teleconsultor.id }}">
            <p>
                <label for="username">Nome de usuário</label> <br>
                <input type="text" name="username" id="username" required value="{{ teleconsultor.user.username }}">
            </p>

            <p>
                <label for="email">E-mail</label> <br>
                <input type="email" name="email" id="email" required value="{{ teleconsultor.user.email }}">
            </p>

            <p>
                <label for="nome">Nome</label> <br>
                <input type="text" name="nome" id="nome" required value="{{ teleconsultor.nome }}">
            </p>

            <p>
                <label for="crm">CRM</label> <br>
                <input type="text" name="crm" id="crm" maxlength="10" required value="{{ teleconsultor.crm }}"">
            </p>

            <p>
                <label for="data_formatura">Data de Formatura</label> <br>
                <input type="date" name="data_formatura" id="data_formatura" required value="{{ teleconsultor.data_formatura|date:"Y-m-d" }}">
            </p>

            <p><input type="submit" value="Salvar"></p>
        </form>
    </div>
</body>
</html>
