<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Teleconsultoria - Gerenciar Teleconsultor</title>
</head>
<body>
    <h1>Gerenciar Teleconsultor</h1>
    <p>
        <a href="{% url 'painel_view' %}">Voltar ao painel</a>
    </p>

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <p>
        <a href="{% url 'adicionar_teleconsultor_view' %}">Adicionar Teleconsultor</a>
    </p>

    <table border="1" width="100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Usuário</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>CRM</th>
                <th>Data Formatura</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for tele in teleconsultores %}
            <tr>
                <td>{{ tele.id }}</td>
                <td>{{ tele.user.username }}</td>
                <td>{{ tele.nome }}</td>
                <td>{{ tele.user.email }}</td>
                <td>{{ tele.crm }}</td>
                <td>{{ tele.data_formatura }}</td>
                <td>
                    <a href="{% url 'editar_teleconsultor_view' %}?id={{ tele.id }}">Editar</a>
                    <form action="{% url 'apagar_teleconsultor_view' %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Apagar" onclick="return confirmar_delete()">
                        <input type="hidden" name="id" value="{{ tele.id }}">
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">Nenhum Teleconsultor cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function confirmar_delete(){
            return confirm("Você tem certeza que deseja excluir o Teleconsultor?")
        }
    </script>
    
</body>
</html>
