<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Teleconsultoria - Painel Administrativo</title>
</head>
<body>
    <h1>Painel</h1>
    <p>
        Olá {{ request.user.username }},
        <a href="{% url 'logout_view' %}">sair</a>.
    </p>
    <ul>
        <li><a href="{% url 'gerenciar_teleconsultor_view' %}">
                Gerenciar Teleconsultores</a></li>
        <li><a href="{% url 'gerenciar_solicitante_view' %}">
                Gerenciar Solicitantes</a></li>
    </ul>
</body>
</html>
